#left {
  width: 100px;
  float: left;
}

#right {
  margin-left: 200px;
}

.clear {
  clear: both;
}

label{
  display:block;
  width:60px;
  font-size:20px;
  margin:20px 10px 3px 3px;
}

/*#pagewrap {
  width: 600px;
}
*/

.left {
 width: 160px;
border:1px solid blue;
}

.right {
  float: right;
  border:1px solid red;
}

/*#mapid {
  height: 180px;
}*/

#map {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: solid 3px #654;
}

.ui-state-default {
    border: 1px solid #d3d3d3;
    background-color: #E4E4E4;
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
}

.highlight{
    background-color: #B24926;
}
