#left {
  width: 200px;
  float: left;
}

#right {
  margin-left: 200px;
}

.clear {
  clear: both;
}

label{
  display:block;
  width:60px;
  font-size:20px;
  margin:20px 10px 3px 3px;
}

#pagewrap {
  width: 800px;
}

.left {
 width: 160px;
  float: left;

}

.middle {
  float: left;

}

.right {
/*  width: 100px;
  padding: 5px 15px;
  float: left;*/
}

#mapid {
  height: 180px;
}

.ui-state-default {
    border: 1px solid #d3d3d3;
    background-color: #E4E4E4;
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
}

.highlight{
    background-color: #B24926;
}
