.hidden_markers {
  display: none;
}

.modifyme {
    width: 800px !important;
}

#dataTable {
  border-collapse: collapse;
}

.hexagon {
  position: relative;
  width: 20px;
  height: 11.55px;
  background-color: #d75e4d;
  margin: 5.77px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 5.77px solid #d75e4d;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 5.77px solid #d75e4d;
}
